.support-container {
  margin: 90px 0;
  width: 100%;
  background: linear-gradient(
      rgba(106, 224, 240, 0.8),
      rgba(109, 212, 243, 0.9)
    ),
    url("../../images/doctor1.png");
  background-position: center top;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
