.footer-container {
  width: 100%;
  background-color: #676e76;
}
.footer-title {
  /* background-color: #c5c5c5; */
  width: 100%;
  /* border-bottom: 1px solid lightgray; */
  height: 100px;
}
.contact-container {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services {
  color: #c1c7ce;
}
.services:hover {
  color: #fff;
  cursor: pointer;
}
